@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: var(--bg-color);
  font-family: "Nunito", sans-serif;
  text-decoration: none;
  list-style: none;
}

:root {
  --bg-color: #fec7d7;
  --black-color: #0e172c;
  --grey-color: #535353;
  --white-color: #fffffe;
}



